.side-container {
 position: fixed;
 z-index: 999;
 width: 100%;
 height: 100%;
 background: linear-gradient(90deg, rgb(33, 37, 41) 0%, rgba(33, 37, 41, 0.4) 100%);
 backdrop-filter: blur(23px);
 display: grid;
 align-items: center;
 //   top: 0;
 left: 0;
 transition: 0.3s ease-in-out;

 .icon-con {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  color: $white;
 } 
 .side-wrapper {
  color: $white;
  .side-menu {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(6, 60px);
   text-align: center;
 
   @media screen and (max-width: 480px) {
     grid-template-rows: repeat(6, 40px);
     
   }
   .side-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    color: #fff;
    cursor: pointer;
    //   padding-bottom: 20px;
  
    &:hover {
      color: $primary;
      transition: 0.2s ease-in-out;
    }
   }
  }
 }
}